/************** null phone********* */

#null-phone {
    display: none;
}

/************ spinner************ */

#spinner{
    display: none;
}

/********** card image************** */

.card-img-top {
    width: 25%;
    
}

.input-group {
    text-align: center;
}
